/*.ipynb
*.html
/*.docx
/*.pdf
IncompleteResearch
Chunks
CompletedResearch
pdf_chunking
sec-edgar-filings
.env
*.htm
*.csv
*.parquet
*.parquet()
/*.py
# 2. But do NOT ignore these specific two
!/app.py
!/main.py
/*.txt
/*.xlsx
__pycache__
*.json
data
docs
duckdb
app
.azure
notebooks
neo4j
things_done.md
GraphQAChain_Neo4jCypher.md